* {
  box-sizing: border-box;
}

.Wrapper {
  display: flex;
}

.SideBar {
  width: 300px;
  height: 100vh;
  background-color: #2f3e51;

  &__Username {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    justify-content: center;

    &__Top-Items {
      width: 260px;
      height: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;

      &--Name {
        width: calc(260px - 60px);
        color: #ffffff;
        font-size: 16px;
      }

      &--Icons {
        width: 60px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #ffffff;

        &__LeftIcon {
          color: #ffffff;
          &__EditIcon {
            color: #ffffff;
          }
        }
        &__RightIcon {
          &__CogIcon {
            color: #ffffff;
            padding-left: 5px;
          }
        }
      }
    }
  }

  &__GroupList {
    width: 300px;
    background-color: #2f3e51;
    padding: 0px 20px;

      &__Groups {
        padding: 20px 0px 40px;

        &__GroupAccount {
          color: #ffffff;
          text-decoration: none;
          &__Groupname {
            font-size: 15px;
          }
          &__Message {
            margin-top: 5px;
            font-size: 11px;
          }
        }
      }
  }

}

.MainChat {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #ffffff;

  &__Header {
    height: 100px;
    background-color: #ffffff;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;

    &__Group-Info {
      width: calc(100vw - 300px );
      display: flex;
      justify-content: space-between;

      &__Left {
        &__Groupname {
          padding: 35px 0 15px 0;
          color: #333333;
          font-size: 20px;
        }
        &__Members {
          color: #999999;
          font-size: 12px;
        }
      }
      &__Editbtn {
        height: 40px;
        width: 72px;
        margin: 28px 0px 32px 0px;
        padding: 0px 20px;
        border:1px solid #38aef0;
        color: #38aef0;
        font-size: 16px;
        background-color: #ffffff;
        cursor: pointer;
      }
    }
  }

  
  .MessageList {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding:35px 40px 0px;
    overflow: scroll;
    &__Field {
      margin-bottom: 46px;

      &__Info {
        display: flex;

        &__Username {
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &__Date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }

      &__Comment {
        margin-top: 12px;
        color: #434a54;
        font-size: 14px;
      }

    }
  }


  .MessageForm {
    height: 90px;
    background-color: #d2d2d2;
    padding:20px 40px;
    box-sizing: border-box;

    &__Content {
      display: flex;
      justify-content: space-between;

      &__Textbox {
        width: 100%;
        background-color: #ffffff;
        position: relative;
        
        &__Textfield {
          width: 100%;
          height: 50px;
          padding: 0px 45px 0px 10px;
          border: none;
        }
        &__Form-Image {
          position: absolute;
          right: 10px;
          input{
            display: none;
          }
          .fa-image {
            font-size: 25px;
            line-height: 50px;
          }
        }
      }
      &__Button {
        height: 50px;
        padding: 0px 30px;
        margin-left: 15px;
        background-color: #38aef0;
        display: flex;
        align-items: center;
        &--Sendbtn {
          color: #fff;
          font-size: 16px;
          background-color: #38aef0;
          border: none;
        }
      }
    }
  }
}